@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');
@import 'styles/var.css';

body {
  margin: 0;
    font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
    font-weight: 400;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul{list-style: none;}

img{
  display: block;
  border-radius: 14px;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a{
  text-decoration: none;
}